# main.yml
name: CI/CD Pipeline to Docker Hub

# Job ko trigger karein jab code 'main' branch par push ho
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      
      # 1. Maven Build (Application ka code compile aur package karein)
      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml
      
      # 2. Docker Hub se login karein (GitHub Secrets ka use karke)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      # Set tag aur Image ka naam define karein
      - name: Define Image Name and Tag
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/aams-app # DOCKER_USERNAME secret se username uthega
          tags: |
            type=raw,value=latest
            type=sha,format=short

      # 3. Docker Image ko Build aur Push karein
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          file: ./Dockerfile